[2012-01-12 15:33] petejkim opened #1 "test method names are not correctly generated..."
[code]

expected:

[code]

actual:

[code]

[2012-01-15 18:03] #1 closed, assigned to nobody

[2012-01-16 20:06] petejkim opened #2 "unexpected exceptions aren't caught in ios 4 simulator."
unexpected exceptions aren't caught in ios 4 simulator due to a bug in ios 4 simulator: http://pivotallabs.com/users/amilligan/blog/articles/1302-objective-c-exceptions-thrown-inside-methods-invoked-via-nsinvocation-are-uncatchable

[2012-01-16 20:07] #2 closed, assigned to nobody

[2012-01-16 20:20] petejkim opened #3 "pending specs"
[code]

[2012-01-16 20:32] petejkim opened #4 "shared examples"
[code]

[2012-01-16 20:33] petejkim opened #5 "ability to run standalone / custom reporter support"

[2012-02-06 09:39] #3 closed, assigned to petejkim

[2012-06-02 14:46] petejkim opened #8 "focused specs"

[2012-06-02 15:01] #4 closed, assigned to petejkim

[2012-06-25 22:53] twobitlabs opened #9 "beforeEach/afterEach only apply to current group"
If I have nested describe groups, I'd expect that beforeEach and afterEach would apply to every spec at every level below the current group. But they only apply to the current group. Is there a reason you see not to run them at every nested level?

[2012-06-25 23:15] #9 closed, assigned to nobody

[2012-09-30 16:51] drouchy opened #13 "failing shared example"
When using some shared example, if one test if failing, the error is reported in the issue navigator, but there is no red marker on the code line where the itShouldBehaveLike is called.

Also clicking on the error in the issue navigator navigates on a wrong line in the editor

[2012-11-07 00:46] jspahrsummers opened #14 "itShouldBehaveLike() is silently skipped within an it() block"
Although arguably the wrong use of `itShouldBehaveLike`, the silent skipping is extremely problematic, because it's very easy to accidentally make this mistake.

[2012-11-07 00:49] jspahrsummers opened #15 "Exceptions thrown outside of describe() and it() result in pseudo-silently skipped tests"
If an exception is thrown outside of an actual test, the whole spec is skipped. The only indication this happens is a message in the console (which is rarely viewed during manual or automated builds).

I think the build should fail, since an exception anywhere in any spec should be considered a test failure.

[2013-01-06 21:34] danpalmer opened #16 "Support for Testing Asynchronous Methods"
This is an enhancement/feature request, but one that I might be able to contribute myself, depending on time constraints and whether I can get to grips with the Specta codebase.

Currently, I don't know of a 'nice' way to test Asynchronous methods. For example, testing the sample of code from the [AFNetworking readme]:

[code]

This code could be difficult to test, and might require calling anothe

[2013-01-09 19:52] #15 closed, assigned to nobody

[2013-01-09 20:20] #14 closed, assigned to nobody

[2013-01-09 20:21] #16 closed, assigned to nobody

[2013-06-14 14:04] ianmurrays opened #22 "AsyncBlock crashes"
Started using specta, and simply adding the `AsyncBlock` macro to my tests makes my tests crash. The following code just doesn't work:

[code]

It's crashing on line 11 of this assembly code:

[code]

Any flags or compiler settings I'm missing? I set the `-ObjC`flag and I have no compiler errors or warnings. :(

[2013-06-17 21:05] rhgills opened #24 "itShouldBehaveLike, when passed a block, assumes that the sharedExample contains a block capturing NSDictionary *data"
The below crashes unless you uncomment the beforeEach block to capture the data dictionary. By the time itShouldBehaveLike attempts to access the autoreleased data dictionary it creates the dictionary has been autoreleased.

[code]

I encountered this bug as I was unsure if, inside a sharedExample, initialization of instance variables belonged in a beforeEach block or in the sharedExamples block i

[2013-07-04 06:36] wonga00 opened #28 "crash before any tests run on v 0.1.9"
If I have any tests in an application target defined with Specta I crash before any run. If i switch my pod dependency to v 0.1.8 there is no crash. I've tested this on a bare ios application (no code except the starting code from the xcode template) in xcode 4.6.3 running on simulator 6.1. Writing tests on a static library project has no problems, this is only happening if the project is an appli

[2013-07-05 19:06] #8 closed, assigned to nobody

[2013-07-11 04:32] #28 closed, assigned to nobody

[2013-07-16 04:37] kastiglione opened #31 "Release build failure"
Following the `README`'s setup instructions, `SPTReporter.m` fails to compile because `runTask` is not synthesized. I don't know why, but when Specta is built in Debug, clang is auto-synthesizing (as expected), but something about building for Release seems to result in auto-synthesis being disabled.

[2013-07-16 05:05] #31 closed, assigned to nobody

[2013-07-16 19:34] mpdifran opened #32 "Issue building project with Specta and Expecta pods"
We're trying to run some tests using the Specta and Expecta pods for our static library, and we're running into some odd issues. When we run pod install, a library is added to our build phases (libPods-PodsTests.a), but the library isn't actually created.

We installed the pods using `pod install`.

We tried running the test on a test project (that was not a static library) and the test ran fine.

[2013-07-18 05:15] #32 closed, assigned to nobody

[2013-07-18 09:36] #24 closed, assigned to nobody

[2013-07-25 23:01] hayesmp opened #34 "Crash: -[EXPExpect _equal]: unrecognized selector sent to instance"
It pretty much crashes on any assertion inside the it block.

rackspace-helios-test.m ->

[code]

Console output:

[code]

[2013-08-02 20:09] #34 closed, assigned to nobody

[2013-08-03 21:43] jspahrsummers opened #35 "Switchable SPTReporter"
There's currently no way to configure the `SPTReporter` that Specta uses for all tests, since it's [hardcoded](https://github.com/specta/specta/blob/8231040cee4663acb0ea35bf0577003e2a2643ca/src/SPTReporter.m#L32) to `SPTDefaultReporter`, which itself has lots of behavior hardcoded.

It could be even cooler to customize this based on whether builds are happening through the Xcode GUI or on the comm

[2013-08-03 21:46] jspahrsummers opened #36 "SPTDefaultReporter does not incrementally update Xcode's testing UI"
This is arguably intended behavior, but the `SPTDefaultReporter` introduced in #21 does not update Xcode's build failures UI as it runs. Instead, all tests must finish, and _then_ the UI is updated.

Being able to switch the reporter (#35) would make this issue less serious. Right now, this behavior makes it [unusable for us](https://github.com/github/specta/pull/9) in Xcode.

CC @nerdyc

[2013-08-06 04:04] #35 closed, assigned to nobody

[2013-08-07 03:53] #36 closed, assigned to nobody

[2013-08-07 16:39] nerdyc opened #38 "XCTest integration"
Xcode 5 projects default to using XCTest instead of OCUnit. Specta should support XCTest when Xcode 5 is released.

I tried to port Specta once, and the changes were pretty intrusive. Perhaps we should create a xcode5-only branch and try it out there?

[2013-08-12 01:27] nerdyc opened #39 "When an exception is raised in an example, after hooks do not run"
If an example raises an exception, after hooks do not seem to be run. This can leave a polluted test environment when later tests run.

I've verified this in my own project with global afterEach: methods, but from a reading of the code I believe all after hooks will be skipped.

[2013-08-21 09:00] cyupa opened #40 "dispatch_semaphore_t ignored"
Hi,

I'm not sure it this is what is supposed to happen but I'm experiencing the following:
In beforeAll I want to use a semaphore to wait for a login response before continuing.

The code looks like this:
[code]
Somehow, somewhere, it blocks and sadly I do not have the time to dig down for the issue.
Can you tell me if it's expected behavior?

[2013-08-24 19:45] #39 closed, assigned to nerdyc

[2013-08-26 14:20] itsthejb opened #43 "New reporter output format breaks Jenkins test report parsing"
Hi,

We recently updated Specta from 0.1.8 to 0.1.11. Whilst the new reporter output format is certainly very nice when running locally, we found that it broke JUnit output report parsing on our Jenkins instance:

[code]

It would certainly be nice to keep up to date with Specta. Perhaps the new reporting format could be disabled with an environmental variable? This would be more easily controlled

[2013-08-27 13:15] yageek opened #44 "AsyncBlock, NSOperationQueue and expect"
I have a problem using Specta with an NSOperation and a block. If you look at the test code below, I use a custom NSOperation which is given a completion block. In this block I called an *expect* statement that is always false before calling done();

The problem is that Xcode tells me that the test succeeded.

[code]

[2013-09-19 16:40] sansari opened #45 "Running a single test / describe block?"
Hey there,

Long time Rubyist that just started doing iOS here, and just started using Specta with an XCode 5 project. Thanks for helping to bring readable tests to iOS :)

I like that I can run a single "Spec" block in XCode 5 by clicking the icon to the left of the spec declaration, but that usually encompasses a group of tests (in one or more describe blocks with multiple "it" tests inside that

[2013-09-19 19:46] #45 closed, assigned to nobody

[2013-10-14 04:02] petejkim opened #46 "move to ARC / modern obj-c syntax?"
- Move to ARC,
- Use implicit @synthesize
- Remove ivar declarations for properties
  Etc...

[2013-10-14 16:35] junosuarez opened #47 "Compatibility with test introspection"
Hello - xctool, a replacement for xcodebuild which allows for nicer CI integration and command line testing experience - is currently unable to execute Specta tests due to the mechanism used to generate test cases at runtime. They are tracking this issue at https://github.com/facebook/xctool/issues/202 .

Rather than adding code specific to each third party testing library, they suggested trying t

[2013-10-28 05:29] #46 closed, assigned to tonyarnold

[2013-10-28 17:45] leocassarani opened #51 "Xcode reports error "(Unexpected TestCaseDidStart)" when running tests"
Since upgrading to Xcode 5.0.1 (5A2053), running my Specta test suite is reported as a "Failure" by Xcode, even when the tests themselves are actually successful. The following shows up in the log window:

[code]

My Podfile:

[code]

[2013-10-30 18:14] mickeyreiss opened #54 "Restore support for custom reporters"
XCTest support refactor removed support for custom reporters, including reporting on pending and focused tests. Add this back as discussed in #38.

Current output looks like this:
`Executed 78 tests, with 0 failures (0 unexpected) in 1.847 (1.897) seconds`

It should be something along these lines:
`Executed 2 focused tests, with 0 failures (0 unexpected), 1 pending in 1.847 (1.897) seconds`

[2013-11-09 23:06] evgenyneu opened #57 "Can not install with cocoapods"
Can not install specta with cocoapods:

[code]

I am not sure if it should be reported here or to pods directly.

Cocoapods: 0.27.1
OS X: 10.9

Thank you

[2013-11-10 00:04] #57 closed, assigned to nobody

[2013-11-10 03:41] #38 closed, assigned to petejkim

[2013-11-10 03:42] #54 closed, assigned to petejkim

[2013-11-10 03:44] #51 closed, assigned to nobody

[2013-11-10 03:47] #43 closed, assigned to nobody

[2013-11-10 03:48] #5 closed, assigned to petejkim

[2013-12-10 16:47] foulkesjohn opened #60 "itsShouldBehaveLike not executing as expected"
I have a shared example which takes a service, the service is shared in the spec and loaded in a beforeEach. I expect if I use a block in the itShouldBehaveLike then the parameters passed to the shared example are evaluated lazily. However this never happens. I have stepped through the code and noticed that in Specta.m in the SPTitShouldBehaveLike method that: `block(dataDict)` is called before th

[2013-12-11 08:43] #60 closed, assigned to nobody

[2013-12-11 10:50] #47 closed, assigned to nobody

[2014-01-09 11:11] itsthejb opened #61 "afterAll block not called with pending example(s) in group (XCTest)"
Hi there,

`pending` examples are included in the group's `exampleCount`, but are not actually executed (incrementing `ranExampleCount`). This means that the group's `afterAll` blocks will not be executed if there is at least one `pending` example in the group. This means that setting an example as `pending` will affect the tear down stage of the group, and potentially subsequent tests. This doesn

[2014-01-15 16:14] dblock opened #62 "Provide a way to get the complete spec description at runtime"
There should be a way to get the value in the current `it(@"this is the string I want")` block, the value that is visible in XCode as "this_is_the_string_I_want" as well as the complete string with parent context.

[code]

[2014-01-23 14:06] #62 closed, assigned to nobody

[2014-02-10 18:16] thiagolioy opened #64 "Specta + lcov Code Coverage Addition"
Hi ,
i was trying to get code coverage on my ios project using specta , i had already managed to do that using xctest following this solution (http://stackoverflow.com/questions/19136767/generate-gcda-files-with-xcode5-ios7-simulator-and-xctest )

After struggle a little bit i've realized that if i override the XCTestLog_stopObserving method of XCTestLog+Specta.m , and add these 2 extra lines(Bold

[2014-02-19 01:19] francocarbonaro opened #65 "AsyncBlock never calls done()"
I created the beforeAll with AsyncBlock bellow to setup and call a web service method, the done() method should be called from the successBlock or the failureBlock.

[code]

The API method that I'm calling above, receive a JSON, parse it and save some data via using the MagicalRecord saveToPersistentStoreWithCompletion: method.

[code]

I'm not sure why but if I use a block to call the successBloc

[2014-02-21 20:54] #65 closed, assigned to nobody

[2014-03-31 22:51] benjamincox opened #68 "Shared behavior doesn't fail when missing"
I took the example from the Github project page, but removed the whole SharedExamplesBegin -> SharedExamplesEnd section:

    #import "Specta.h"

    SpecBegin(Thing)

    describe(@"Thing", ^{
      sharedExamplesFor(@"another shared behavior", ^(NSDictionary *data) {
        // Locally defined shared examples can override global shared examples within its scope.
      });

      beforeAll(^{

[2014-04-03 15:44] fatuhoku opened #69 "Document how to run examples on the command line"
It's not obvious to me how to run XCTests with Specta (epecially with Specs-style test reporting) on the command line.

In particular, how might I use Specta with something like https://github.com/facebook/xctool? This is not documented either.

[2014-04-06 05:48] czhae opened #71 "XCTest does not load test cases unless the 'xctest' branch is used in Podfile"
[code]
Originally had this to set up a new project. But then I realized that the building test did not pick up the test cases I wrote. After trying out bunch of ways, I explicitly listed the *xctest* branch in Podfile.

[code]

After cleaning the workspace, running test started to recognize my test cases. Funny thing is I changed it back to my original listing which is

[code]

instead of

[code]

[2014-04-10 21:26] robb opened #72 "Set up CI"
on travis, maybe?

[2014-04-23 08:35] hokster7 opened #73 "AppCode doesn't understand beforeEach type correctly"
When I start typing...

[code]

I want my IDE to autocomplete a block for me. I'm normally able to do this with `context` and `it`, where it gives me a block `^{}` if I tap `Return` a few times. But if I do this with `beforeEach`, this is what I get:

[code]

It should be possible to make `beforeEach` (and friends) have  a parameter type that would suggest to AppCode that it's a block.

[2014-04-25 12:01] #73 closed, assigned to nobody

[2014-05-01 21:20] eremzeit opened #74 "[Feature Request] Support for running tests under GHUnit"
`Specta.h` imports `XCTest.h` so I'm assuming that XCTest is an inherent dependency.  I prefer Specta syntax but I won't be able to use it because I use GHUnit.

[2014-05-02 19:37] #74 closed, assigned to nobody

[2014-05-03 19:07] #61 closed, assigned to nobody

[2014-05-12 20:59] dblock opened #76 "activelyWaitFor:completion"
We often have snapshot tests that need to wait for some long running operation with variable timing, so we added this.

[code]

[code]

Is this something interesting to Specta?

[2014-05-19 21:34] wessmith opened #77 "Usage of AsyncBlock causing frequent (Unexpected SuiteDidStart) errors"
I have been unable to use `AsyncBlock` reliably. When writing tests and running a single spec, it seems to work fine. However, when I run the whole test suite, I frequently get an error like:
[code]

These errors either fail the build as soon as it hits the async spec, or it continues to run.. forever.. running the entire suite over and over and over endlessly until I stop it.

It's worth noting t

[2014-05-22 17:08] james075 opened #78 "Test delegate methods w/ Specta-Expecta"
How could I test classes' delegate methods *properly* ?

        expect(viewC).conformTo(@protocol(xProto));

        expect(viewC).respondTo(@selector(xMethod:));
        expect(viewC).respondTo(@selector(xMethod:));
        expect(viewC).respondTo(@selector(xMethod));

e.g with Mock

        id delegateMock = [KWMock mockForProtocol:@protocol(xProto)];

        [manager setDelegate:delegateMock]

[2014-05-27 11:14] lucaquerella opened #79 "how can I test my library on an iOS6 device?"
I've written a small library (https://github.com/BendingSpoons/Stalker - developer friendly KVO and NSNotification​ interface) and I shared it on Github.

I've written some tests using Specta, which by the way I really like.
Now I receive an issue (https://github.com/BendingSpoons/Stalker/issues/2 - by @siutsin) asking me why I didn't support iOS 6.0. The reason is that I didn't spend time testing

[2014-06-05 09:18] nskboy opened #82 "[Xcode 6 Beta] No visible @interface for 'XCTestCaseRun' declares the selector 'recordFailureInTest:withDescription:inFile:atLine:expected:'"
**Steps to reproduce:**

1. Clone sample workspace: `git clone https://github.com/nskboy/SpectaBug.git`
2. Open it with Xcode 6
3. Hit Cmd + U

**Actual behavior:**
Build fails with following error:

[code]

[2014-06-09 06:33] modocache opened #85 "Integration with test navigator broken in latest version of Xcode"
After merging PR #83, you may realize that Specta does not correctly report spec success/failure in the Xcode test navigator.

As of Xcode 6, each test invocation's selector is used to determine the name displayed in the test navigator. Specta uses the same instance method to run each example. As a result, all tests in the same spec had the same name, causing each example to "overwrite" each previ

[2014-06-18 21:01] petejkim opened #87 "v0.3 - Xcode6 and Swift support"
- [x] replace `^AsyncBlock` with `waitUntil()`
- [x] make it work on xcode6 (still wip)
- [ ] add support for writing specs in swift
- [x] shuffle tests

Branch: https://github.com/specta/specta/tree/0.3-wip

[2014-06-19 19:28] #22 closed, assigned to nobody

[2014-06-25 16:45] orta opened #89 "Support non-compile time test runners"
Ideally I'd like to be able to include a separate CocoaPod that can add a different test reporter running in Specta. The current method involves adding a runtime flag to the scheme, which is outside the scope of CocoaPods.

[code]

Ideally, I'd like to be able to change this at runtime. E.g. I could run setSharedReporter in my custom class's load function.

[2014-07-03 17:37] orta opened #91 "Option to shuffle order of it/describes"
I'd love to be able to make sure that my tests don't accidentally rely on previous ones by having a [random order](http://blog.davidchelimsky.net/blog/2012/01/04/rspec-28-is-released/).

[2014-07-09 10:15] codeboost opened #92 "Testing a loop"
Hi,

I'm testing an array of objects and I'm using a for loop to go through the array items:

[code]

This works, but if the test fails at some value of i, I don't know exactly which value caused the test to fail.
My actual test of each object is quite long so I would like to move the test code out of the for loop somehow.

Is there an elegant way to do it ?

[2014-07-09 19:40] #92 closed, assigned to nobody

[2014-07-21 08:12] bwaresiak opened #94 "Shared behavior: 'it' clause does not work properly"
Hello,

With Specta 0.2.1, I'm using such shared behavior:

    sharedExamplesFor(@"shared example", ^(NSDictionary* data)
    {
        NSString *something = data[SBEventKey];

        it(@"should work", ^{
            expect(something).toNot.beNil();
            expect(something).to.equal(@"something");
        });
    });

When I pass parameter which does not meet the required criteria to the d

[2014-08-04 13:34] neonichu opened #96 "Failures not being passed to XCTest in certain threading conditions"
I was just dealing with an issue where a failed expectation was not passed correctly to XCTest, causing the test to still pass.

The issue is that `SPTCurrentTestCase` was actually `nil` here:

<https://github.com/specta/specta/blob/master/src/SPTXCTestCase.m#L141>

What happened was that my code delivered a completion block on a background queue and the current test case was not set for the corre

[2014-08-05 13:48] szehnder opened #98 "new compiler issues w/ XCode6 beta5"
w/ beta5 I am seeing compiler errors where I was not before.

Using Specta (0.2.1)
Using Expecta (0.3.1)

Thoughts?

![screen shot 2014-08-05 at 9 45 17 am](https://cloud.githubusercontent.com/assets/408456/3812133/1d0c52bc-1ca7-11e4-853b-f1220f202f4c.png)

[2014-08-21 13:58] hokster7 opened #99 "XCPretty support esp. through hierarchical test naming"
[xcpretty](https://github.com/supermarin/xcpretty) is the premier command line test output formatter for `xcodebuild`. It aims to feel a bit like RSpec. It already supports XCTest.

However, the hierarchy of `describe`, `context` and `it` blocks are all but lost when tests are executed. Tests outputs are a big flat list.
Test names can also not easily be prettified for readability.

I invite the S

[2014-09-11 17:59] mgorbach opened #100 "Specta / Expecta tests running in addition to our app"
We have an app based on the 0.3 WIP branch of Specta, iOS 8 only and running the GM Xcode 6 build. Specta/Expecta are integrated via CocoaPods. When we run tests (with Command-U) in our app, Specta / Expecta tests run as well. This appears to happen both on the Xcode 6 GM and earlier beta builds.

Logging includes lines like:

[code]

[2014-09-13 02:00] #99 closed, assigned to nobody

[2014-09-15 09:37] #91 closed, assigned to nobody

[2014-09-22 15:20] dmrschmidt opened #101 "0.3-wip: Spec shuffling breaks xctool test integration"
The new test shuffling added a print statement for the seed in use here https://github.com/specta/specta/commit/bcba04d57fd05ce1a7ce110d998d8363053da0ef#diff-a5a40de00f424fc4d014f7dba24ba7c5R76

When xctool gets the list of all tests to run, this print end ups at the end of the JSON array which contains all those tests. As a result it can't parse the array and exits with "Failed to query the list

[2014-09-23 09:25] hokster7 opened #102 "Specta + Cocoapods woes, still"
In my `Podfile`:

[code]

The error I get when running `pod install`:

[code]

[2014-09-23 09:39] #102 closed, assigned to nobody

[2014-09-24 17:11] #100 closed, assigned to nobody

[2014-09-28 20:42] NSDex opened #103 "itShouldBehaveLike being called prior to beforeAll/beforeEach"
Consider the following:
[code]

"some shred example" will execute with nil input before the beforeAll (and even the block passed to itShouldBehaveLike).

[2014-10-02 09:35] squarefrog opened #104 "[Question] Is there a way to jump to test definition?"
Is there a way to jump to a failing test from the test navigator, like when using Kiwi/XCTest?

1. Run all tests
2. Observe a test fail
3. Click the test string in the navigator e.g. "ViewController_test_should_fail"
4. Xcode jumps to the failing test in the main editor window

[2014-10-03 07:40] iamladi opened #105 "[Question] Help me fix Expecta+Snapshots"
As of today I'm running on Specta 0.3wip branch in order to be able to use XCode 6.

My code is also dependent on Expecta+Snapshots pod which is way behind.

Here's the code that's breaking for me and I would really appreciate your help to adapt it to new Specta for XCode 6 branch.

Old code:

[code]

Thank you, Ladislav

[2014-10-06 08:40] hoiogi opened #106 "Cocoapods does not install '0.3.0.beta1'"
I written Podfile
[code]

and run 'pod install'

[code]

I can't install specta '0.3.0.beta1'

[2014-10-06 08:40] #105 closed, assigned to nobody

[2014-10-06 16:34] #98 closed, assigned to nobody

[2014-10-08 13:30] pepibumur opened #107 "Performance tests support"
With iOS 8 a new feature introduced in tests was the **performance tests**. I think it would be great to have support to these tests using

[code]

Like this is not something related with **expectations** I think we could try another syntax for this case. Something like:
[code]
Where in case of Swift we use closures to pass the operations to be executed in this measuring block.
Thoughts?

[2014-10-08 21:20] brianblanchard-wf opened #108 "v0.3.0.beta1 not reporting the results in the test navigator in xcode 6"
When I run my unit tests using specta `v0.3.0.beta` in `Xcode 6`, I see the tests executing in the tests in the test navigator within xcode like so:

![screen shot 2014-10-08 at 1 57 44 pm](https://cloud.githubusercontent.com/assets/1747583/4567283/be1bfb34-4f2f-11e4-8b50-69d39533dc10.png)

but when the tests are finished running the test navigator does not show the results of the test run like so

[2014-10-27 09:16] slhodson969 opened #111 "Testing UIViewController presentedViewController returns nil"
I am using Specta to create some tests but I don't seem to be able to get this basic one to pass. The app itself works fine but this test won't pass.

**ViewController**

    - (void)viewDidAppear:(BOOL)animated {
        [super viewDidAppear:animated];
        [self showLogin];
    }

    - (void)showLogin
	{
    	[self presentViewController:[ETLoginVC new] animated:NO completion:nil];
    	NSLog

[2014-11-10 21:50] MichaelHackett opened #113 "Missing ResourceRules.plist file?"
The Rake build fails in the iOS Framework step because the `codesign` command is referencing a file, `ResourceRules.plist`, which does not appear to exist.

[code]

Running Xcode 6.1, fresh clone of Specta master branch.

[2014-11-24 14:48] hfossli opened #115 "Support for Objective-c++"
Some parts of my code have c++ in the objective-c header files. When I write unit tests for these classes my unit tests should have the `.mm` extension instead of `.m`. When I do that even simple specs fail.

[code]

[2014-11-27 22:11] alexmalek opened #116 "0.30 - BAD_ACCESS in runGlobalBeforeEachHooks against "GAITrackerModel""
Hey, we're seeing a crash in runGlobalBeforeEachHooks.ClassesWithClassMethod - for some reason it's unhappy doing a class_getClassMethod against GAITrackerModel (part of Google Analytics). Racking my brain trying to understand what the issue is. Any thoughts?

![screen shot 2014-11-27 at 1 52 19 pm](https://cloud.githubusercontent.com/assets/150215/5222004/532fde04-763e-11e4-9aa7-44e7c016a22a.png)

[2014-11-28 16:49] PhucDuy opened #117 "v0.3.0 beta report spt_runExampleAtIndex for all test case in test navigation bar."
I use specta v0.3.1 in Xcode 6.1 (6A1052d). After I run my test, test navigation show this results.
![screen shot 2014-11-28 at 11 42 01 pm](https://cloud.githubusercontent.com/assets/6514068/5230397/56a76e1a-7758-11e4-983f-196fb036a50a.png)
I already set an environment variable named SPECTA_REPORTER_CLASS to SPTXCTestReporter in my test scheme. but I didn't work.
How can I get results in my test

[2015-01-09 01:36] iosdev-republicofapps opened #122 "Cannot test methods with __autoreleasing NSError in Specta"
Hi,

Specta is great, thanks for releasing it! :-)

I'm trying to test my code's interaction with some third party code.  I need to test code like the following:
[code]

I can't seem to test this in Specta.  I keep getting compiler errors like "Cannot capture __autoreleasing variable in a block" from the following:
[code]

I don't know how I'm supposed to test this in Specta?  What am I missing?

[2015-01-14 22:58] esttorhe commented on #117
Just to add more to this issue; I tried with custom class and the issue is still present :x:

[2015-01-16 00:04] iosdev-republicofapps commented on #122
Hi @pk sorry but that doesn't work.  That returns different errors.

Any ideas?

How should we test methods that use `NSError * __autoreleasing *` error parameters?  This is a very common pattern in Cocoa and many third-party frameworks and we need to be able to test that proper errors are returned ...

[2015-01-21 12:29] mmiroslav commented on #85
Any news about this issue?

[2015-01-21 12:40] StatusReport commented on #85
This has not been solved yet, and not been solved in Quick regardless of @modocache's post. See Quick/Quick#157, Quick/Quick#219. Seems like the problem is on Apple's end, and until someone will reverse engineer Xcode it seems that the only option that works for me is to restart Xcode.

[2015-01-23 14:53] fatuhoku commented on #117
+1
![screen shot 2015-01-23 at 14 53 03](https://cloud.githubusercontent.com/assets/430233/5876493/8b56e004-a30f-11e4-9051-e9205d1c331a.png) same situation  on AppCode, unsurprisingly.

[2015-01-29 09:30] foulkesjohn commented on #116
We are having this issue and need to use 3.0.10 for GA, we currently have a fork which has a check for GAITrackerModel but we ideally need something more permanent.

[2015-01-30 01:57] iosdev-republicofapps commented on #122
Bump.

Any ideas?  This is becoming a major issue for me.  So many Objective-C methods now under ARC are of the form:
[code]

We need to be able to test `error`.  If Specta can't handle that due to its use of blocks, we need a workaround or it's difficult to use Specta for testing these methods (and there are many methods like this).

Any suggestions?  :-)

Thanks!

[2015-02-03 19:53] J-Rojas opened #123 "Specta with multithreaded tests"
First off, thank you to the maintainers of this library. It has made writing tests in Objective-C less of a chore.

I have many asynchronous operations that I need to test. To help with this, I use a promise library (RXPromise in particular) to execute consecutive blocks after certain conditions are fulfilled. The promises run on their own dispatch queue and in their own background thread.

The pr

[2015-02-04 00:30] J-Rojas opened #124 "When using a pending() behavior, beforeAll is called again unexpectedly."
In 0.3.0-beta, I've observed this behavior fail when using a pending behavior test:

    SpecBegin(SpectaTests)

    __block int callOnce = 0;

    beforeAll(^{
        //this is called more than once when pending() is used!
        callOnce++;
        expect(callOnce).equal(1);
    });

    beforeEach(^{
        //this is called after each behavior
    });

    describe(@"Specta", ^{

        pen

[2015-02-05 14:00] orta opened #125 "The Roadmap to Specta 1.0"
Hello there, I have a lot of Specta/Expecta Code out in the wild, I think its a solid, mature and feature complete library. Since Swift came out it _feels_ like it hasn’t been getting the same attention that it used to have. Which I can understand completely, but I'm not going to migrate tens of projects and thousands of tests to Quick/Nimble anytime soon, nor do I want to change the default for a

[2015-02-05 14:30] modocache commented on #125
I think this is a great initiative! :100:

I'd love to help review PRs, and I think #103 deserves some attention. I'll try to submit a PR to fix that issue--although if someone else beats me to the punch, no hard feelings! :stuck_out_tongue_closed_eyes:

[2015-02-05 14:34] modocache commented on #103
@NSDex @hatunike Can you show the full code for your `sharedExamples(@"some shared example")`? As @akashivskyy mentions, it's possible you're accessing variables before Specta expects you to.

[2015-02-06 02:40] tonyarnold commented on #125
I could get behind this push — I was considering switching my projects over to XCTest directly (and to a degree, I have) but I would prefer to keep using Specta/Expecta for the foreseeable future.

I'm happy to tackle the framework-related changes.

[2015-02-07 14:55] paweldudek commented on #125
Awesome idea. I'll happily contribute to this cause! I'll try to do some work on this next week. I can take TravisCI, the `_spt_it` thing and switch to XCTest only, in this order.

If anyone wants to grab any of these - please do let me know!

[2015-02-07 19:18] orta commented on #125
I, conveniently, have the power to add people to push podspecs, currently on Peter / Blake can push, would anyone else (who is in the org) want adding?

[2015-02-07 19:19] robb commented on #125
That's a long con if I've ever seen one

[2015-02-07 19:43] orta commented on #125
Hah totally was worth it. I added you for daring to speak up.

I tested running Specta as a framework, it works as expected, so I'm removing the `_spt_it` to `it` out, that is a requirement for Swift support, but swift support should be outside of the scope of cleanup IMO.

![screen shot 2015-02-07 at 2 35 55 pm](https://cloud.githubusercontent.com/assets/49038/6093671/b63dbbd0-aed6-11e4-89ec-3366

[2015-02-08 02:44] NSDex commented on #103
@modocache: I migrated to a different approach after hitting this issue and don't have the bandwidth to recreate the problem at this time.  Feel free to close unless @hatunike or @akashivskyy can provide the details you need.

[2015-02-08 03:13] tonyarnold commented on #125
Which @petejkim already took care of in his earlier 0.3-wip branch. Man I miss the forest for the trees sometimes!

[2015-02-08 14:58] paweldudek commented on #72
@robb I think you can close this one :wink:

[2015-02-08 15:02] #72 closed

[2015-02-08 19:41] paweldudek commented on #103
@NSDex I've prepared a [sample test](https://github.com/paweldudek/specta/blob/0ef5c3f501a82fecb0487bbe60aaf3544b120824/Specta/SpectaTests/SharedExamplesTest7.m) that should fail if `sharedExamples` would have an issue that you described but everything appears to be working just fine.

@robb looks like you can close this one, unless there's someone who can provide a broken sample project :wink:

[2015-02-08 19:51] paweldudek commented on #125
@orta I've initially thought that

means that there's some OCUnit support still out there, but I can find any. Could you shed some light on what you mean by that?

[2015-02-09 15:26] hatunike commented on #103
I ended up fixing mine, and it was related to what @akashivskyy  shows above. I originally fixed it by just creating a new file and just slowly copied everything over, trying to see what the issue was. Not sure how well documented this issue is, but I'd imagine many others will make this mistake. Thanks.

[2015-02-10 19:57] orta commented on #125
This might be more Expecta things also! I'll tick it.

[2015-02-10 21:15] orta opened #127 "CI is broken on master"
Looks like its around sequence support. https://travis-ci.org/specta/specta/builds/50258272

It seems to be that [the helper functions](https://github.com/specta/specta/blob/master/Specta/SpectaTests/SequenceTest.m#L10-L16) are not being ran at all.

[2015-02-10 21:17] paweldudek commented on #127
Looks like this broke after https://github.com/specta/specta/pull/119 was pulled in, at least according to history: https://travis-ci.org/specta/specta/builds

[2015-02-10 21:18] paweldudek commented on #127
That's probably it as the pulled in change is closely related to global before/after each logic.

[2015-02-10 21:19] orta commented on #127
Makes sense, digging right now :+1:

[2015-02-10 21:22] orta commented on #127
Yeah, that's definitely it.

[2015-02-10 21:23] orta commented on #127
Day one making changes and something already needs to be reverted :dancers:

[2015-02-10 21:23] #127 closed

[2015-02-10 21:27] paweldudek commented on #127
Yeah, wish there was a "run against current master" button for Travis CI.

[2015-02-10 21:41] orta commented on #117
Any ideas on this? I've not seen this in a long time

![screen shot 2015-02-10 at 4 40 36 pm](https://cloud.githubusercontent.com/assets/49038/6137027/9d7703d0-b143-11e4-85f9-f0643fd4be4f.png)

[2015-02-10 21:42] orta commented on #113
PR merged. Though @tonyarnold's point about removal is probably legit.

[2015-02-10 21:42] #113 closed

[2015-02-10 21:45] orta commented on #111
I think this is off topic, plus pretty much resolved. Closing.

[2015-02-10 21:45] #111 closed

[2015-02-10 21:46] orta commented on #107
This might fit better as a custom Expecta matcher :+1: - check some [examples here](http://cocoapods.org/?q=expecta)

[2015-02-10 21:46] #107 closed

[2015-02-10 21:47] orta commented on #115
I think https://github.com/specta/specta/pull/120 has fixed this.

[2015-02-10 21:47] #115 closed

[2015-02-10 21:48] orta commented on #101
Closing, looks resolved.

[2015-02-10 21:48] #101 closed

[2015-02-10 21:49] orta commented on #117
closing as a dupe of https://github.com/specta/specta/issues/85 - which has more info

[2015-02-10 21:49] #117 closed

[2015-02-10 21:51] orta commented on #89
There's some interesting work done on quick around this: https://github.com/Quick/Quick/pull/233

[2015-02-10 22:08] hfossli commented on #115
Cool

[2015-02-10 22:23] orta commented on #82
This is fixed :+1:  and in

[2015-02-10 22:23] #82 closed

[2015-02-10 22:23] orta commented on #79
^ closing, older versions exist.

[2015-02-10 22:23] #79 closed

[2015-02-10 22:27] orta commented on #78
These are `expecta` extensions, but you can do some of these, as I've made a [Expecta+OCMock](https://github.com/dblock/ocmock-expecta) lib.

[2015-02-10 22:27] #78 closed

[2015-02-10 22:28] orta commented on #69
Closing, running Specta tests on the command line is nothing unique in this respect anymore.

[2015-02-10 22:28] #69 closed

[2015-02-10 22:34] orta commented on #77
@tangphillip presuming this is based on the Meetup codebase, does this problem still exist?

[2015-02-10 22:34] orta commented on #40
Closing due to lack of a response.

[2015-02-10 22:34] #40 closed

[2015-02-10 22:36] orta commented on #104
This is working for me in Xcode 6.1.1

![screen shot 2015-02-10 at 5 35 51 pm](https://cloud.githubusercontent.com/assets/49038/6137974/4a35cf96-b14b-11e4-9f03-d9a9d3d5b889.png)

[2015-02-10 22:36] #104 closed

[2015-02-10 22:38] modocache commented on #103
Looks like this can be closed! I'll keep this in mind when improving documentation in the future. Thanks, everybody! :+1:

[2015-02-10 22:38] #103 closed

[2015-02-10 22:53] tangphillip commented on #77
I think we rewrite the test that was failing with another form of asynchrony. So...I can't reproduce this problem any more.

[2015-02-10 22:54] orta commented on #77
We have a _lot_ of things like this in the Artsy testing codebases. Going to close for now. If people are seeing this, please chime in.

[2015-02-10 22:54] #77 closed

[2015-02-10 22:56] orta commented on #106
This is all cool now. I just released `0.3.2`.

[2015-02-10 22:56] #106 closed

[2015-02-10 22:57] orta commented on #108
closing as a dupe of #85 - this seems to be based on the phase of the moon and how strong venus' pull is.

[2015-02-10 22:57] #108 closed

[2015-02-10 23:05] orta opened #130 "Swift Support"
Initial implementation can be found in this commit: https://github.com/specta/specta/commit/596f0a19195ead8c7aa6b905457f13dca9b24caf

[2015-02-10 23:05] orta commented on #87
OK, I'm closing this. A stable 0.3.x is out, I think Swift support is it's own issue. Which I've made: https://github.com/specta/specta/issues/130

[2015-02-10 23:05] #87 closed

[2015-02-10 23:07] orta commented on #130
I think the tradeoff of

Is quite serious.

[2015-02-10 23:19] tonyarnold commented on #130
Are the un-prefixed variants of the Objective-C functions still the default? Or does this mean that the prefix _has to be used_? That would be an unacceptable compromise, IMO.

[2015-02-11 00:04] petejkim commented on #130
I think we can get around the issue by creating a separate framework (e.g. Specta-Swift) that uses the objc Specta framework.

[2015-02-11 02:43] mickeyreiss commented on #77
We've been seeing some instability with `waitUntil` in Braintree-iOS (they are also do not interoperate nicely with KIF). To workaround, I've been migrating slowly towards `XCTestExpectation`s for async tests.

[2015-02-11 02:45] mickeyreiss commented on #104
I also experience this failure intermittently, as well as a failure to list all test names in the Test Navigator.

[2015-02-11 07:44] paweldudek commented on #68
This has already been resolved https://github.com/specta/specta/pull/80. @orta yet another one to close :wink:

[2015-02-11 07:50] paweldudek commented on #94
@bwaresiak the problem here is that you're not using `it` and `beforeEach` blocks in `sharedExamplesFor`. Under the hood they behave just like a describe block (which can be passed some additional info).

Thus the appropriate approach would be:

[code]

And it is absolutely legal (actually required) to use `it` with shared behaviours. The fact that your tests were passing in the first place is pro

[2015-02-11 07:53] paweldudek commented on #94
Nvm, I see this was already fixed in https://github.com/specta/specta/commit/93c65aee31bfcbe439da58a1e180069de07f9c64, awesome!

[2015-02-11 09:18] orta commented on #94
Agree, documentation issue.

[2015-02-11 09:18] #94 closed

[2015-02-11 10:38] orta commented on #68
Ace.

[2015-02-11 10:38] #68 closed

[2015-02-11 10:49] orta commented on #130
Think this is a great idea. `Suspecta`

[2015-02-11 11:03] orta commented on #71
Fixed :+1:

[2015-02-11 11:03] #71 closed

[2015-02-11 11:05] orta commented on #96
Related: https://github.com/specta/specta/issues/123

[2015-02-11 11:54] orta commented on #104
I don't think there's much Specta can do to improve this though this issue specifically is an Expecta issue, it uses all the official APIs for failing with lines/files.  Specta generating test cases that conform to how XCTest would, I think the flakiness is basically Xcode.

[2015-02-11 13:04] orta commented on #116
Fixed in #131

( You can add support in your project to make it skip any specific class )

[2015-02-11 13:04] #116 closed

[2015-02-11 13:13] orta commented on #125
Alright, I'm closing this issue. Looks like @paweldudek did most of the code work, thanks :tada: !
Once Expecta has caught up I'll tag a `1.0.0` release to coincide with that. Then maybe take a look at the potential for a Swift Specta separate lib, and rely on swift matcher libs.

[2015-02-11 13:13] #125 closed

[2015-02-11 13:25] paweldudek commented on #125
:tada: Yaay! Thanks @orta for doing the hard work on issues/PR! :balloon: Happy to see Specta back on track!

[2015-02-11 13:40] orta opened #132 "Flakey tests on Travis"
[code]

Likely that the VMs slowness is affecting these tests in comparison to a dev computer.

[2015-02-11 13:48] orta commented on #124
I think this makes sense, would love to see a PR :+1:

[2015-02-12 16:48] orta commented on #44
related https://github.com/specta/specta/issues/96 and https://github.com/specta/specta/issues/123

[2015-02-17 03:36] #123 closed

[2015-02-25 21:15] J-Rojas commented on #123
Thanks for looking into this. I've tried the recent changes in master made by @neonichu, but they did not work for me.

The problem I'm seeing as I described above is related to SPTSpec.m, line 202.
The current spec is nil here and the failures are not recorded.

[2015-02-25 21:24] neonichu commented on #123
This is weird, because with my changes, `-recordFailureWithDescription:inFile:atLine:expected:` should only ever be called from the main thread. Are you able to share a reproducible case of this maybe?

[2015-02-25 22:32] J-Rojas commented on #123
Yes, I was able to find a reproducible case. Your test does work for me (it fails as expected on the background thread). However I'm using Expecta, and those expectations fail.

Here's the case that is failing:

        it(@"assert on background queue", ^{
            waitUntil(^(DoneCallback done) {
                dispatch_async(dispatch_get_global_queue(DISPATCH_QUEUE_PRIORITY_DEFAULT, 0), ^{

[2015-02-25 22:51] orta commented on #123
Expecta will need a similar PR I think.

[2015-02-25 22:52] orta commented on #123
Yep: https://github.com/specta/expecta/blob/master/Expecta/ExpectaSupport.m#L161-L175

Would love a PR

[2015-03-02 19:18] J-Rojas commented on #123
I tried modifying the code in Expecta as you pointed out (changing currentThread -> mainThread) but this did not work for me.

I instead applied the patch to Specta and my use cases started to work.

https://github.com/specta/specta/pull/134

[2015-03-05 11:35] jmoody opened #137 "Defining a variable that can be used across all examples in a group: like `let`"
* Specta 0.3.2

Apologies if asking questions here is not appropriate.  If there is a better place, please let me know.

I have some examples like this:

[code]

I want to pull the

[code]

out into a `before` or a `let`.

Possible?

[2015-03-05 11:43] orta commented on #137
This is a stack overflow question really as it's a usage question. However, your answer is in `__block` and the `before` methods. Take a look through [these tests](https://github.com/artsy/eigen/blob/master/Artsy%20Tests/ARAnnotatedMapViewTests.m) ( and the rest if you're interested).

[2015-03-05 11:43] #137 closed

[2015-03-10 20:13] paweldudek opened #139 "Release new version"
A few fixes/changes made it into master and it'd be cool to have them available as new release:

https://github.com/specta/specta/pull/136
https://github.com/specta/specta/pull/135
https://github.com/specta/specta/pull/134
https://github.com/specta/specta/pull/133
https://github.com/specta/specta/pull/131

Any chance someone could tag & release a new version on Cocoapods? :wink:

[2015-03-10 21:04] orta commented on #139
Done!

[2015-03-10 21:04] #139 closed

[2015-03-11 01:19] mickeyreiss opened #140 "Add list of projects that use specta to readme"
It seems to me like one of the goals in #125 is to keep specta alive and stable in the post-objective-c-yet-somehow-pre-swift world. When people feel confident in a library, they're more likely to use it; and when more people use it, some might contribute back to it.

Do others agree that adding a list of projects that use specta in production would lend some legitimacy to the project once it hits

[2015-03-11 02:33] orta commented on #140
I think Specta has semi-accidentally become one of the most widespread testing framework due to it being the default when creating [a new CocoaPod](http://guides.cocoapods.org/making/using-pod-lib-create.html).

My initial worry was a lack of releases and a sense of stagnation, that I feel is gone. I think this makes sense for a wiki page though!

[2015-03-13 20:41] asm09fsu opened #141 "Alternative for deprecated XCTestLog/Observer?"
It seems as though Apple decided to deprecate XCTestLog & XCTestObserver, without providing a replacement. Has anyone seen has movement on this, or done any additional investigating? It's extremely unfortunate that I cannot color my pass/failed test cases coming from Specta, or any other Testing Framework.

[2015-03-17 15:55] dbarden commented on #124
I'm getting that afterAll is being called twice, with the following test:

[code]

I'll try to find some time to dig on the internals and see what's causing this.
Unless somebody is faster.

[2015-03-17 20:29] #124 closed

[2015-03-23 08:40] dbarden opened #146 "Add Carthage support to README"
Did anybody already tried Specta using Carthage? Is it supported?

If no one did it yet, I'll just create a sample project to test and add the instructions to the README.

[2015-03-23 09:21] tonyarnold commented on #146
I ensured Expecta works with Carthage, but I didn't try Specta. Chances are that if it's a shared scheme it will just work out of the box.

[2015-03-25 07:43] dbarden commented on #146
Yeap, it works. Just migrated a project to use Carthage.

Had some problems due to not adding the copy frameworks steps. But RTFM helps quite a lot in these situations.

[2015-03-25 10:52] #146 closed

[2015-03-27 14:57] dbarden commented on #64
Is this issue still valid?

We're using code coverage and didn't need to do any modification on Specta code.

I'd suggest to close it, if it doesn't make sense anymore.

[2015-03-27 15:14] orta commented on #64
Works for me 👍 - less is less.

[2015-03-27 15:14] #64 closed

[2015-04-01 20:06] wasnotrice opened #148 "Failure with runGlobalBeforeEachHooks and external class"
First, thanks for all your work on Specta. Great library!

I'm getting intermittent failures when running my spec suite with version 0.4 via CocoaPods. The failures involve an external library that isn't involved in the specs, but is part of the app. Error log [here](https://gist.github.com/wasnotrice/6686bcc6144cd87ea0bc).

This external library, `AVYPhotoEditorCustomization` seems to be getting

[2015-04-01 21:08] modocache commented on #148
It does seem unsafe for Specta to pick up *every* class that implements `+beforeEach` and `+afterEach`.  Shouldn't it be *opt-in*, not *opt-out*? That is, *only* classes that conform to a protocol like `SPTGlobalBeforeAfterEach` should be included.

@wasnotrice, can you try putting the following code somewhere it'll be executed before Specta runs its tests, like maybe in your test helper's `+load`

[2015-04-01 22:17] wasnotrice commented on #148
@modocache that's what I was thinking, too. Thanks for the suggestion. I added that code to my spec helper's `+load` method, but I still get the failure :(

[code]

(I confirmed in my logs that the method did run)

[2015-04-01 22:48] orta commented on #141
There is work from Quick on this: https://github.com/Quick/Quick/pull/233

[2015-04-01 22:53] modocache commented on #141
I tried a less ambitious approach in https://github.com/kiwi-bdd/Kiwi/pull/449 as well. IIRC that PR has custom output piped to a file, rather than `stdout`, which might be the best we can do without reaching into Xcode internals.

One of the best ways to see support for this, across all testing frameworks, would be filing a radar. :snail:

[2015-04-02 07:58] paweldudek commented on #148
I'm still leaning towards having this as opt-out rather than opt-in. Here's a gist of my arguments:

* So far we had two issues related to this. I'm pretty sure this issue is unavoidable even with whitelisting mechanism, but more on that in a second. Thus I'm a bit reluctant to seeing this change
* It's a bit more complicated for developers to integrate with this feature (however it does seem like

[2015-04-02 08:06] paweldudek commented on #148
So I made a quick test. I've created a class `Test` with `+[NSObject initialize]` overridden.

I've put a breakpoint in the aforementioned method and checked whether it was called for specific scenarios:

* Without any additional action `+[NSObject initialize]` was called
* Adding exclude protocol via category for `Test`: `+[NSObject initialize]` was not called
* Adding exclude protocol via `NSCla

[2015-04-02 13:01] modocache commented on #148
For the scope of this issue, I think it's worth double-checking here. :point_up:

But a few notes:

There are [other approaches](https://github.com/Quick/Quick/blob/47079aea66854e9398cf211037d7409bf40b2e5d/Documentation/ConfiguringQuick.md#adding-global-beforeeach-and-aftereach-closures), ones that doesn't involve checking the class list for protocol conformance in either direction. I don't think

[2015-04-02 13:04] orta commented on #148
I think we should break it, and call the next release `1.0.0` with whitelisting. Feels like a weird feature in general to me.

[2015-04-02 13:17] modocache commented on #148
That sounds fine to me. I think whitelisting sounds pretty safe.

@paweldudek Can you explain your thoughts a bit? From what I can tell, the problem here is that @wasnotrice is trying to opt-out *before* his class is picked up by Specta's code, so he needed to find a way to dynamically opt-out in time. With a whitelisting mechanism, users won't accidentally be opted-in, so they won't have to race

[2015-04-02 13:49] paweldudek commented on #148
@modocache no problem!

So the issue @wasnotrice is seeing is caused by Aviary SDK hitting an assertion in their `[NSObject initialize]` method (which sounds like a horrible design, but that's a different story :wink:). Specta tries to send `beforeEach` (as we can see in the stack trace) message to that class, which triggers `initialize`, which then results in an exception.

`initialize` method is

[2015-04-02 17:57] wasnotrice commented on #148
Thanks all for your feedback and consideration.

@paweldudek The [failure is the same](https://gist.github.com/wasnotrice/2bcb6ab2dcde4a8b8967) when I add the blacklist protocol, whether I use `NSClassFromString()` or `objc_lookUpClass()`. The log shows that the protocol was added to the class, and those are the very first lines of the log, so it seems like it's happening as early as possible.

Th

[2015-04-02 20:29] orta commented on #148
The 1.0.0 is an ideological thing, Specta is very production worthy. Its version should reflect that.

[2015-04-02 20:31] wasnotrice commented on #148
:+1:

[2015-04-03 03:53] wasnotrice commented on #148
Fixed by #149. Thanks everyone!

[2015-04-03 03:53] #148 closed

[2015-04-03 04:53] modocache commented on #148
Thank *you*! :100:

[2015-04-03 16:03] modocache commented on #85
@StatusReport The problem this issue originally reported, that all tests show up as `spt_runExampleAtIndex:`, has been fixed. The issues you reference still exist in all frameworks that use dynamic test invocations, whether that's Specta or Quick.

I'm closing this issue to avoid confusion. Please open new issues for problems with the test navigator. Or better yet, file radars. :wink:

[2015-04-03 16:03] #85 closed

[2015-04-05 18:59] pk commented on #122
Hi @iosdev-republicofapps,

what to you mean it returns different errors?

BTW the last row had a typo, it should read `expect(err).notTo.beNil();` so you use "strongified" version of your error.

[2015-04-05 19:01] pk commented on #122
Also I declare the `NSError * __autoreleasing error = nil;` within the `it` block and not as shared variable across several examples - not that that should make any difference.

[2015-04-08 21:01] valerius opened #150 "Class + (void)initialize called multiple times?"
Not sure if this issue is specific to your API or testing in general, but while trying to write a test for some of my classes, which used +initialize() to register themselves in a singleton, I notice that the initialize function is called multiple times. I can say however, it works fine for the standard application, or the Cedar test suite which runs test as the application as apposed to a "Test"

[2015-04-08 21:06] modocache commented on #150
Is `NLRecord` part of your application target, your test target, or both? If it's included in both your application and test target, then it's actually two different classes, and you may see both of them registered. Just a theory! :bulb:

[2015-04-09 00:14] valerius commented on #150
Hey modocache! Thanks so much for the theory, that turned out to be substantively the case, with slightly different minutia involved.  Namely, I had to change my testing bundles "Host Application" to None, and then add the sample classes to my target manually. A greater detail of the answer is here should someone be interested:

https://github.com/AliSoftware/OHHTTPStubs/wiki/A-tricky-case-with-Ap

[2015-04-09 00:14] #150 closed

[2015-04-09 00:34] modocache commented on #150
@valerius Great resource, thanks for the link! :+1:

[2015-04-15 22:38] Goles opened #151 "When I include Specta.framework to "Link binary with Libraries" I get "Test Failed""
Hey there,

I'm working on a Library (it's not an app) and I built Specta with Carthage. After which I followed the instructions to add Specta to my Test Target (basically put the Framewrok in the Link Binary with Libraries build phase).

I tried to run my tests, my Library builds, but I get a "Test Failed" Xcode alert.

Just to try, I removed _all_ the tests from my project, and then hit `cmd+U`

[2015-04-16 01:12] dbarden commented on #151
Hi @Goles,

is it an iOS project? I had this issue, but it got solved after adding the _Run Script Phase_ to the build process (step 4 on the integration instructions)

[2015-04-16 18:18] Goles commented on #151
Hey guys,

I was able to get Specta to work, the problem was that apparently my project was missing the correct `Runpath Search Paths` in the Build Settings.

It's a pretty old project, so maybe those were not added by Xcode in the past?

Anyway, here's how they look now:

[code]
![screen shot 2015-04-16 at 11 15 34 am](https://cloud.githubusercontent.com/assets/181342/7188103/34d01104-e42a-11e4-8

[2015-04-16 18:18] #151 closed

[2015-04-30 22:01] Goles opened #154 "Having trouble building specta with Xcode CI and Carthage"
Hey guys,

We have setup a Build Bot trigger that basically does `carthage bootstrap`, it's failing most of the times, but sometimes it actually works.

Here's the output that we're getting:

[code]

Cartfile.private

`github "Vungle/specta" ~> 0.5`

Cartfile.resolved

`github "Vungle/specta" "0.5.1"`

Any idea of what could be going on here?

[2015-04-30 22:27] tonyarnold commented on #154
Not without the contents of the carthage-xcodebuild log. Can you post it and I'll take a look?

[2015-04-30 22:33] Goles commented on #154
@tonyarnold  here's the [carthage-xcodebuild.log](https://gist.github.com/Goles/a94ee2d83b4315d91fb3)

[2015-04-30 23:00] Goles commented on #154
@tonyarnold So, as a workaround to fix the issue we forked Specta and changed the deployment target to iOS 8.0

That seems to work

[2015-05-06 20:00] esttorhe commented on #85
I'm still seeing all my tests as `spt_runExampleAtIndex:` and I'm on `Version 6.3.1 (6D1002)` of `Xcode` ¯\_(ツ)_/¯

[2015-05-06 22:27] esttorhe commented on #85
nvm; it was a PEBCAK problem

[2015-05-06 23:43] Goles commented on #154
For the record, it's still failing with the same issues from time to time under Xcode CI. It's very strange indeed.

[2015-05-08 04:28] jspahrsummers commented on #154
You may be running into the same issue described in https://github.com/Carthage/Carthage/issues/417.

[2015-05-08 04:41] Goles commented on #154
It could be the case, it's strange, it fails and then after some attempts it somehow works (and then fails again after a while). Don't know what could be going on.

[2015-05-08 08:21] squarefrog commented on #104
As an update, when this stops working, the following fix works for me:

1. Clean the project
2. Clean build folder
3. Restart Xcode
4. Re-run full suite of tests

I've yet to narrow down what exactly causes the issue in the first place.

[2015-05-08 19:12] mickeyreiss opened #155 "NO CHANGELOG entry for 1.0.0"
Great release!

I noticed that the CHANGELOG doesn't include an entry for 1.0.0. Is this intentional? The info would definitely be convenient.

[2015-05-08 22:19] mokagio commented on #155
I thiught that as well, but if you look at the commits nothing has been actually changed between the last dev version and 1.0, just newlines and Coveralls integration.

[2015-05-09 02:06] mickeyreiss commented on #155
@mokagio I see. I think a note in the CHANGELOG might be helpful for folks less involved the project day to day. I wrote up [a suggestion](https://github.com/specta/specta/pull/156) for what the 1.0.0 notes might look like. Hope it's helpful!

[2015-05-09 02:35] #155 closed

[2015-05-15 21:25] Goles commented on #154
We basically followed the following steps to try to fix it:

[code]

It still happens from time to time... we'll probably try to just put Specta code in our repo directly. Honestly this could be a Specta problem (related to Xcode CI). We're also using OHHTTPStubs with Carthage and we haven't experienced the same issues... which makes this strange.

[2015-05-19 12:24] mfclarke opened #158 "Exceptions don't fail a test "unexpectedly""
Hi. It looks like if there's an exception while running a test it isn't reported correctly. The console says `Executed 8 tests, with 1 failures (0 unexpected)`. Because the failure is apparently expected, Xcode doesn't mark the test as failed and my unit tests are apparently all passing.

Correct me if I'm wrong, but a crash should fail a test unexpectedly.

[2015-05-19 12:29] orta commented on #158
There are tests around unexpected Exceptions, in [UnexpectedExceptionTest.m](https://github.com/specta/specta/blob/master/Specta/SpectaTests/UnexpectedExceptionTest.m) that pass.

Do you have some reproducible code?

[2015-05-28 22:38] KattMingMing opened #160 "Run Individual Spec instead of all of them"
I'm having trouble running one spec. When I press the "play" button that is embedded above the line numbers Specta does not run one Spec rather it runs all of them. I saw https://github.com/specta/specta/issues/45, but using fit or fdescribe does not help with this. Is there a way to run tests individually or was this how they were run individually and it doesn't work anymore?

[2015-05-28 22:40] orta commented on #160
Hrm, can you verify that the test are actually being ran? Xcode still tells you the names of the tests I believe, but they're just not ran.

[2015-05-28 22:44] KattMingMing commented on #160
@orta they are all running. Tested with failing tests and also passing tests to confirm. For clarification, a file that contains multiple Spec's runs all of them and it also runs every Spec in other files.

[2015-05-28 22:47] KattMingMing commented on #160
So I think I figured out what is happening and you are correct. It seemed strange to me that the breakpoints in the other spec would be hit even though they are not running the tests. So you were correct. Thanks for the quick reply.

[2015-05-28 22:49] #160 closed

[2015-05-29 22:56] orta commented on #154
#161 may have fixed this

[2015-06-03 08:44] mfclarke commented on #158
This issue actually doesn't have anything to do with unexpected vs expected. Apologies. I will create a new issue with the real problem.

[2015-06-03 08:44] #158 closed

[2015-06-03 08:48] mfclarke opened #162 "Xcode doesn't show correct test results"
Please see screenshot. When a test fails, the console reports the correct results (failure), but Xcode (6.3.2) shows green ticks. At first I thought this was because the code being tested raised an exception, but it also occurs if some tests pass and others fail.

![screen shot 2015-06-03 at 10 45 12 am](https://cloud.githubusercontent.com/assets/3276355/7956068/c15ca4c4-09dd-11e5-8467-3ec41d29e57

[2015-06-03 13:21] orta commented on #162
It's showing a green tick for the test that successfully passed, but not for the missing result. Perhaps we need to hook in to uncaught exceptions and raise an `XCTFail`. Any chance you can post the crashing code or can make a PR tackling this?

[2015-06-03 14:27] mfclarke commented on #162
The crashing code is simply `[NSException raise:@"Forced Crash" format:@"Requested crash from -[CrashingObject crash]"]`

I will have a crack at a PR if I have some spare time but I'm afraid that may not be for a week or two.

[2015-06-11 14:27] coverback opened #164 "Specta is not building with Xcode 7 beta"
New XCTest framework exposes the `XCTestObservationCenter`. It conflicts with the one defined in Specta's `XCTest+Private.h` and fails to build.

[2015-06-11 16:53] coverback commented on #164
Thanks for merging and releasing it so fast!

[2015-06-11 16:53] #164 closed

[2015-06-11 16:57] orta commented on #164
Thanks for contributing!

[2015-06-19 00:32] eremzeit opened #166 "Focused tests should be called out in the console log"
![image](https://cloud.githubusercontent.com/assets/1264533/8245233/59ab9236-15e0-11e5-9d23-7213afe1462c.png)

I have about 80 tests that I've written in Specta and have for a while been regularly using with no issue, but just now as I was developing I must have changed something because now none of my tests will run.  The console output reports that each test has run (mentioning each individually

[2015-06-19 01:24] eremzeit commented on #166
Oh, whoops.  I had a typo that added an `f` to `describe` so it was skipping all the blocks.  PEBKAC.

Though, on the other hand, it might be useful for the console logs actually reflect what is happening.  Ie. if only one test is being run because of an `f` maybe it should just tell you that.

[2015-06-19 06:38] robb commented on #166
That seems like a good idea.

[2015-06-22 19:21] jmoody opened #167 "requiring "Generate Test Coverage Files" and/or "Instrument Program Flow" causes Console spam"
I have recently upgraded to Specta 1.0.2 which required that I set the following flags in the Build Settings of the app under test:

[code]

Now my console log is filled with messages like this:

[code]

Why are these two flags required?  And what can be done about the spam?  Cleaning the project works for one run, but the next time I run the tests, they are back.

[2015-06-22 19:22] jmoody commented on #166
+1

Someone on my team committed an `f` tag which went unnoticed for a month.  This is a very dangerous feature of Specta.

[2015-07-09 11:57] pvinis opened #170 "how about variables?"
With XCTest, i could add some variables inside the @implementation block, and i could initialize them in the setUp.

can i have variables with specta?

[2015-07-09 12:45] robb commented on #170
Sure

[code]

[2015-07-09 12:45] #170 closed

[2015-07-09 13:01] pvinis commented on #170
thanks

On 9 Jul 2015 at 14:45:30, Robert Böhnke (notifications@github.com) wrote:

Sure

SpecBegin(Thing)

__block id foo;

beforeEach({
    foo = [Foo new];
});

SpecEnd
—
Reply to this email directly or view it on GitHub.

-- 
Pavlos Vinieratos

[2015-07-09 13:34] pvinis commented on #170
is it better to add them after SpecBegin with __block, or to add them before SpecBegin without __block?

[2015-07-09 14:02] robb commented on #170
I think you'd have to make the variable `static` if you wanted to use it outside of `SpecBegin`. I'd generally put everything after `SpecBegin`.

Note that you only need to use `__block` when you want to assign a value in e.g. `beforeEach`, which I believe is generally a good idea to make sure there is no shared state between tests.

[2015-07-09 14:04] orta commented on #170
@pvinis if you want to look at a collection of Specta/Expecta tests, you can check out: https://github.com/artsy/eigen/tree/master/Artsy_Tests

[2015-07-10 12:39] pvinis commented on #170
@robb  @orta thanks!

[2015-07-14 14:47] pvinis commented on #76
+1

[2015-07-15 17:25] pvinis opened #171 "helper functions?"
hi. is it possible to have a couple of methods like `- (void)bla {}` or `void foo()` in a test file, so that in an `it` block, i can call those helper methods?

[2015-07-15 20:28] orta commented on #171
If you put it outside the `SpecBegin` and `SpecEnd` blocks then you can treat it like any objective-c file, including [methods](https://github.com/artsy/eigen/blob/master/Artsy_Tests/Networking_Tests/Collection/ARGeneArtworksNetworkModelTests.m#L98), [classes](https://github.com/artsy/eigen/blob/master/Artsy_Tests/Networking_Tests/Collection/ARGeneArtworksNetworkModelTests.m#L4-L11) etc.

[2015-07-15 20:28] #171 closed

[2015-07-15 21:18] pvinis commented on #171
thanks

[2015-07-16 16:10] jmoody commented on #167
As a temporary solution, I add this Run Script Build Phase script to my XCTest target _before_ compilation.

[code]

[2015-07-24 00:05] sebastiangrail opened #173 "`fit` within `fdescribe` still runs all `it` blocks in the spec"
If I nest a `fit` in an `fdescribe`, I expect that _only_ the `fit` runs. Instead, all tests in the `fdescribe` block run.

[code]

[2015-07-27 15:40] blackivory86 commented on #162
We're experiencing similar issues. Restarting XCode is needed to solve the issue in Test navigator pane.
The Xcode test reports are showing the correct results reported in the console

[2015-08-14 11:55] squarefrog opened #174 "Pending tests do not show as pending."
The current behaviour makes it easy to forget that there are pending tests. For example if I have the following test:

    SpecBegin(PendingTests)

    describe(@"PendingTests", ^{
        xit(@"should show pending status");
    });

    SpecEnd

Produces the following console output:

    Test Case '-[PendingTestsSpec test_PendingTests__should_show_pending_status]' started.
    Test Case '-[Pendi

[2015-08-14 22:22] orta commented on #174
There is no better way, TBH, I like both of the approaches that Kiwi does. The warning and the output. We've seen a few "user issues" over time because of this and I think Kiwis solves it pretty elegantly.

Any chance of a PR adding this?

[2015-09-02 20:44] Goles commented on #162
I often clear my `Derived Data` directory to fix this, to be honest it's driving me crazy! haha, it seems to get screwed after a while, and then I cleanup `Derived Data` again.

[2015-09-12 05:12] iosdev-republicofapps opened #177 "Fix warnings in Xcode 7 GM Seed"
Hi,

Love Specta, awesome tool!

I would like to disable build warnings when compiling Specta both as a standalone and as a Cocoapod.  In particular:
[code]

I tried all the `pragma clang diagnostic` tricks I could think of and Googled for some time and couldn't find a solution.  I think it's important to have warning-free builds, even for test targets, so any idea how we can fix this?

The code i

[2015-09-12 11:34] orta commented on #177
@modocache any ideas?

[2015-09-12 19:47] guidomb opened #178 "Specta not compiling with XCode 7.0 GM"
I am getting the following error when trying to compile Specta with XCode 7.0 GM

[code]

I am running

[code]

with the following `xcodebuild` version

[code]

[2015-09-12 20:03] guidomb commented on #178
Disabling bitcode fixes the problem https://github.com/specta/specta/pull/179

[2015-09-12 20:09] #178 closed

[2015-09-14 21:41] Goles commented on #167
Does Specta support coverage reports with Xcode @jmoody ?

[2015-09-14 22:08] Goles commented on #167
Does Specta support coverage reports with Xcode @jmoody ?

That didn't really remove the console spam in my case though :(

cc @orta

[2015-09-15 07:14] jmoody commented on #167
@Goles I have no idea.

[2015-09-15 07:31] Goles commented on #167
I actually opened a radar: on this... I think it might be an Xcode bug

[2015-09-15 13:21] orta commented on #167
TBH, the build setting could probably be removed from Specta and sent in via the CI commend, which is how we do it [at Artsy](https://github.com/artsy/energy/blob/master/Makefile#L43).

[2015-09-16 11:38] paweldudek commented on #167
@orta :+1:, we're doing the same thing.

[2015-09-16 16:26] Goles commented on #167
@orta what build setting are you talking about?

[2015-09-16 17:25] orta commented on #167
specifically adding `GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES GCC_GENERATE_TEST_COVERAGE_FILES=YES` to the `xcodebuild` command

[2015-09-16 18:27] Goles commented on #167
That's interesting, maybe that will do the trick

[2015-09-17 16:55] chrisfarrell opened #181 "extremely slow unit tests in Xcode 7"
Summary:
Xcode 6.4 ran 3000 specta unit tests in about 40 seconds.
Xcode 7 runs about 500 specta unit tests in about 5 minutes.

Steps to Reproduce:
1. new project
2. write substantial number of unit tests
3. run unit tests

Expected Results:
expect the unit tests to run as fast or faster in Xcode 7 as Xcode 6.5

Actual Results:
unit tests run much slower in Xcode 7 than they did in Xcode 6.4

Ver

[2015-09-17 20:56] rbaumbach commented on #181
+1

[2015-09-18 02:33] michaeltansg commented on #181
+1

[2015-09-18 04:04] Goles opened #183 "Specta skipping through tests in sample Xcode 7 project"
Hey there,

Specta seems to be skipping through all the tests in this [Sample Project](https://dl.dropboxusercontent.com/u/1149996/SpectaTest.zip), running under `Version 7.0 (7A218)`

<img width="417" alt="ss" src="https://cloud.githubusercontent.com/assets/181342/9951751/a28768a4-5d7f-11e5-8c56-ab9f70e9b444.png">

Don't really know what's going on... setting breakpoints seems to hit the `it` lin

[2015-09-18 06:33] rad3ks commented on #177
I made PR #182 that resolves the issue. It currently doesn't pass CI due to older Xcode on travis, where `XCTestObservation` is not defined by `XCTest`, but you can point directly to this commit/branch in your Podfile (if you're using cocoapods to integrate specta with your project).

[code]

[2015-09-21 04:46] rbaumbach commented on #183
Is it possible to write specs with an 'it' inside of an 'it?'  I was always under the impression that the it is the final "block" of code that could be nested in multiple 'describes' and 'contexts.'

[2015-09-21 04:49] rbaumbach commented on #181
After much investigation on this issue, it was determined that the culprit is in fact the iOS 9 simulator.  If you download the 8.4 version (if you haven't already) and run your specs with it, it will be as fast as it used to be.

I'm not sure what else we can do other than to let Apple know that the iOS 9 simulator is extremely slow.

[2015-09-21 11:35] orta commented on #183
Yeah, this is a usage problem, `describe`s  should be used for grouping, and `it` is used for the tests. In implementation terms an `it` represents an XCTestCase, and they cannot be built inside each other.

[2015-09-21 11:35] #183 closed

[2015-09-21 11:36] orta commented on #181
sigh

[2015-09-21 18:48] adamkaplan opened #185 "Specta does not build on XCode7"
The underlying issue is resolved already by #178. The commit is un-released, so in effect Specta is still broken for most Carthage users.  I have made this ticket to track the issue.

Until then, Carthage users need/should add this line to their `Carthage.private` files.
`github "specta/specta" "3d127e6a14e9f4759fbde50272481260775b193b"`

I have filed this ticket so that we can watch the issue and

[2015-09-22 06:46] melote commented on #181
+1

[2015-09-22 06:46] melote commented on #185
+1

[2015-09-22 06:56] orta commented on #185
New version deployed.
![screen shot 2015-09-22 at 07 56 20](https://cloud.githubusercontent.com/assets/49038/10012383/70028d18-60ff-11e5-8266-f02fa63bbdc5.png)

[2015-09-22 06:56] #185 closed

[2015-09-22 06:57] orta commented on #185
also, @melote - please don't go around +1ing a bunch of things, as someone with enough github email a bunch of +1s only make it harder to decide what I want to work on.

[2015-09-22 14:34] adamkaplan commented on #185
Thanks @orta!

[2015-09-24 01:38] guidomb opened #187 "Add precompiled .framework to releases"
It would help a lot to reduce build time (specially in CI) when using Carthage to add the precompiled `.framework` to the GitHub release.

[2015-09-25 00:15] Goles opened #188 ""Questionable API usage" error when using XCTestExpectation"
I'm trying to use `XCTestExpectation` with Specta in the following way

[code]

That leads to the following console errors.

[code]

I created a [sample project](https://dl.dropboxusercontent.com/u/1149996/SpectaSample2.zip) to expose the issue (still present in Specta `1.0.4`).

It does also look a lot like what these guys are seeing in this [ticket](https://github.com/Quick/Quick/issues/330) on

[2015-09-25 05:45] orta commented on #188
Probably best to use specta's waitUntil:

[code]

Given that we don't expose XCTest anywhere else.

[2015-09-25 05:47] orta commented on #187
I'm afraid not, I don't feel comfortable shipping binaries, personally.

[2015-09-25 05:47] #187 closed

[2015-09-25 06:09] Goles commented on #188
Didn't know about that one, will give it a shot.

[2015-10-02 20:45] apphipster commented on #167
I have spent some time trying to figure out how to get rid of those ugly and annoying messages:

profiling: /Users/appfactory/Desktop/WORK/App/trunk/ObjectiveC.gcda: cannot merge previous GCDA file: corrupt arc tag (0x00000000)

It seemed like an Xcode 7 issue that was not fixed in the current Xcode 7.1 beta 2.
The problem is caused by failing to merge the existing .gcda coverage files with the cu

[2015-10-05 10:41] jmoody commented on #167
@apphipster Thanks for investigating.  I will give it a try.

To the original question: **Why are these two flags required?**

Are these flags necessary?

[2015-10-06 07:02] nsforge opened #189 "Test results intermittently disappear in the Xcode 7 UI"
In my project, tests that use `XCTestCase` directly always show a green or red indicator in the editor gutter UI after running tests, but Specta tests intermittently show an empty grey diamond instead of a green or red diamond. When they disappear in the editor UI, they also disappear from the Issues Navigator.

The Specta test results always show up correctly if I go to the Report Navigator and l

[2015-10-06 07:03] orta commented on #96
This is merged with #133

[2015-10-06 07:03] #96 closed

[2015-10-06 07:04] orta commented on #44
Given this thread is mainly about delivering fails on the main thread, I'm closing this as it was added by #133

[2015-10-06 07:04] #44 closed

[2015-10-06 07:06] orta commented on #188
Calling as done, we've only used `waitUntil` in multiple codebases and been happy. Would be happy to take PRs on allowing the usage of XCTExpectations though.

[2015-10-06 07:06] #188 closed

[2015-10-06 07:22] orta commented on #177
This is fixed in master :+1:

[2015-10-06 07:22] #177 closed

[2015-10-06 07:23] orta commented on #173
This makes sense, would happily accept PRs on this :+1:

[2015-10-06 07:26] nsforge opened #191 "Test results "arrow button" in Xcode 7 doesn't work correctly for Specta test results"
I've found that clicking on the test result arrow:
![test result](https://cloud.githubusercontent.com/assets/5221/10302323/eb03bd5e-6c56-11e5-839b-6dd1075a4052.png)
in the Xcode Test Reports UI takes me directly to the right code for `XCTestCase` tests, but doesn't do anything for individual `Specta` tests.

The arrow buttons for the spec files themselves work correctly for Specta test files.

Usi

[2015-10-21 20:39] Autoc0diq opened #192 "Carthage Binaries"
Would it be possible to add binaries to your releases? This would speed up our build time. Thanks!

[2015-10-22 06:33] orta commented on #192
This is a duplicate of #187

[2015-10-22 06:33] #192 closed

[2015-10-22 07:40] robb commented on #192
FWIW, I'd be looking into committing frameworks with git lfs now.

[2015-10-22 16:35] Autoc0diq commented on #192
Is it supported by Carthage?

-s

[2015-10-23 08:18] blackivory86 opened #193 "waitUntil hangs when using Specta in XCTest UI Test target"
I'm trying to use Specta and Expecta in the new XCode 7 UI Tests.
Some of my tests use `waitUntil` to wait for asynchronous actions to finish. However `waitUntil` never calls it's block and therefore never calls the `DoneCallback`

I don't have any problems with my default unit-test target but it's happening with my UITest target.

[2015-10-23 08:20] orta commented on #193
You might be the first to look into this, any chance you can dig in and get us a PR?

[2015-10-23 08:26] blackivory86 commented on #193
I'm currently setting up a bare test-case without my other dependencies.
Not sure how much time I can put into this...

[2015-10-23 08:46] blackivory86 commented on #193
- Created a single-view application
- added UI test target
- added specta to UI test-target
Still not working

[code]
Seems to never execute the block

[2015-10-23 09:04] blackivory86 commented on #193
Seems to be a general problem with dispatching on the main queue. This does not work even with a test project without Specta

[2015-10-23 09:06] orta commented on #193
I don't know much about how UI tests work, do they have constraints around threading?

It might be worth seeing if an XCTestExpectation works (outside of Specta) in UITesting

[2015-10-23 10:02] blackivory86 commented on #193
Everything is working fine with Xcode 7.1

[2015-10-23 10:11] orta commented on #193
Hah, thanks for digging in @blackivory86 !

[2015-10-23 11:58] robb commented on #192
Checking in `Carthage/Build` should do the trick I reckon

[2015-11-03 19:07] #193 closed

[2015-11-03 19:08] orta commented on #191
Not too sure what we can do here, we're using Apple's API that says the LOC and the file that the error occurred on.

[2015-11-12 11:35] fatuhoku commented on #181
Sigh indeed. I would love to practise test-driven development but at every turn, it's either compilation, or the speed of loading the tests, the performance of the simulator, that erodes at the benefits of testing.

[2015-11-12 12:37] StatusReport commented on #181
The workaround we currently did is to remove the verify-after-running of class methods (if you mock class methods, you probably want to refactor your code for many reasons anyway), which dramatically speeded up things. See Lightricks/OCMock@6d8f2c5d210c4527d3454cc5926b36765cbc880c.

[2015-11-12 22:32] tonyarnold commented on #181
There have been a few comments from Apple engineers on Twitter that the slowness in running unit tests is an OS X bug. No word on whether it's fixed in 10.10.2 beta.

[2015-11-30 17:37] fatuhoku commented on #189
@nsforge I've seen this happen as well. Very very confusing and makes it almost impossible to work with.

[2015-12-05 03:54] liuslevis commented on #167
guess it's a xcode 7.1 bug. ref: http://davidlau.me/2015/12/05/Trying-to-fix-Xcode-7-GDCA-file-corruption/

[2015-12-11 04:59] dbarden commented on #167
This ticket can now be closed

[2015-12-11 05:31] dbarden commented on #162
This seems to be an issue with XCTest and Xcode. What I'm seeing is that the second time the you run a spec similar to the one above, the last test does not appear on the test navigator.

Since Quick is suffering with the same problem, I guessed that the problem might not even be Specta, but XCTest.

So I did what the core of Specta does, which is to create the test on runtime by overriding `+[XCT

[2015-12-11 05:38] modocache commented on #162
Potentially related to https://github.com/Quick/Quick/issues/373, with a proposed solution here: https://github.com/Quick/Quick/issues/439.

[2015-12-11 10:04] #167 closed

[2015-12-14 07:10] programmerdave commented on #181
Any updates on this from Apple dev? Is there a radar ticket open for this?

[2015-12-14 09:51] jmenezes commented on #167
To resolve the issue of getting "cannot merge previous GCDA file: corrupt arc tag" messages in console, avoid generating ObjectiveC.gcda file, by making “Enable Modules (C and Objective-C)" setting to "NO", in the target settings.

[2015-12-15 23:41] Goles opened #198 "Specta getting stuck when trying to dispatch_sync in the main queue"
I'm trying to do something like

[code]

Specta seems to get stuck on this, I wrote a [sample project](https://dl.dropboxusercontent.com/u/1149996/SpectaMainThreadTest.zip) to demonstrate the behavior.

[2015-12-16 13:49] FerencYAO commented on #198
i think should dispatch_async

2015年12月16日星期三，Nicolas Goles <notifications@github.com> 写道：

[2015-12-16 15:15] Goles commented on #198
@FerencYAO When not running this code in specta, everything is fine tbh... am I missing something?

[2015-12-16 17:57] pk commented on #198
I've been experiencing the same behaviour for some time. If the code under the test uses `dispatch_sync` it hangs tests, one way around it would be to use `dispatch_async` in combination with something like

    waitUntil(^(DoneCallback done) .{
        [obj takesLongTimeWithCompletion:^{ done(); }];
    });

[2015-12-16 18:15] Goles commented on #198
@pk The `dispatch_sync` lies in a method of a Class that I'm testing, and has it's own reasons for being sync, so for me, there's sadly no way around it :disappointed:

[2015-12-18 01:51] MattFoley opened #199 "XCTool support?"
I see a recent pull request went out for xctool 0.2.6, but now that xctool is on 0.2.7, I find I'm not able to run my Specta tests. I brought this up on [the xctool repo](https://github.com/facebook/xctool/issues/575#issuecomment-165633598), and it was suggested I open an issue here.

Here's a quick summary:
When I attempt to run my xctool command for running my tests, my Specta tests are run on `

[2015-12-18 02:11] ExtremeMan commented on #199
My point is that it occurs because tests are run when they aren't supposed to be run.
If you look into stack trace you will see that XCTest framework is just querying test cases and not actually trying to run them: `+[XCTestSuite allTests] `.

[2015-12-18 07:30] orta commented on #199
I'm not really sure this is something we should change, it feels like a change in xctool has cause this which is working fine in xcodebuild etc. If quick is having the same problems, it seems like the problem really lies in xctool.

[2015-12-18 07:47] ExtremeMan commented on #199
Hm. Then Specta framework is used incorrectly. What is `spec` method for? What should be done in this method? I actually see `- (void)performTest` in `SPTSpec` which is invoked when test should be run.

[2015-12-18 07:48] orta commented on #199
I'm not really sure, I didn't write that back in the day, I'm just making sure that it's staying working. You're welcome to take a look around the source.

[2015-12-18 09:15] paweldudek commented on #199
@ExtremeMan do you happen to have any setup logic outside of `beforeEach`/`afterEach`/`it` blocks?

From what I can tell from the stack trace you're attempting to call `+[SKZTournamentSummary addMatchCodeTournament:forContext:]` method while Specta is preparing a test suite.

A general rule of thumb is that you should keep all your setup logic in `beforeEach`/`beforeAll` methods, putting it outsid

[2015-12-18 09:25] paweldudek commented on #199
Ok, I now see I should've referenced @MattFoley for the comment above, sorry!

[2015-12-18 17:09] MattFoley commented on #199
That line of code is in a `context()` block. If I understand the back and forth here, no code should be unwrapped in a `context` or describe block? All executing code for tests should be in `beforeEach`/`beforeAll`/`it` methods?

Here's some pseudo code to give you an idea of what I mean:

    describe(){
        context(){
            //Some setup code
            it(){}
            it(){}
    }

[2015-12-18 17:13] orta commented on #199
Yeah, code you want to run inside the describe/context blocks should always be running inside before/after/it blocks: [for example](https://github.com/artsy/eigen/blob/master/Artsy_Tests/Networking_Tests/ARRouterTests.m#L7-L26)

[2015-12-18 17:17] MattFoley commented on #199
That was the problem! I've fixed our test suite and it now runs just fine with xctool. I'm curious why xcodebuild doesn't complain about this, but xctool does. Mainly just for my own curiosity about the architecture of the two. Any ideas?

Regardless, closing this issue, thanks!

[2015-12-18 17:17] #199 closed

[2015-12-18 17:20] orta commented on #199
I guess xctool might load the test bundle, try gather all the `it` blocks before it's ready to run them so they can make assumptions for the tool itself, perhaps there's something getting something created and nil'd when it's not expecting it. Hard to say.

[2015-12-18 17:29] paweldudek commented on #199
My assumption is that `xctool` loads testing bundle a little bit easier than regular `xcodebuild` and your environment is just not set up correctly yet. Since Specta prepares all tests the moment spec classes are initialised (aka accessed for the first time via `+[XCTestSuite allTests]`) this might cause your tests to crash.

I assume you're setting up Core Data stack somewhere in your App Delegat

[2015-12-18 18:11] ExtremeMan commented on #199
xctool is first doing `dlopen` of the test bundle to query test cases. Then it runs them. First step isn't done in simulator context because there is no good reason to do that there. I guess your test depends on some services that aren't available without such context.

[2015-12-18 18:18] paweldudek commented on #199
@ExtremeMan I assume that means no App Delegate is created when test bundle is opened? If so then there's the root reason for this issue.

[2015-12-18 18:19] MattFoley commented on #199
So what I gather is that xcodebuild just launches the simulator first, and then queries the test bundle. Querying the test bundle causes Specta to execute any code not inside a before, after, or it block.

To answer the question, yep, I set up a CoreData stack in my appDelegate for my test host, and because the app delegate was never called, the stack was never setup which leads to an assert. For

[2016-01-13 22:11] evilDave commented on #173
This does not make a whole lot of sense to me. It makes focusing an outer block meaningless. I find that the current behaviour, that focusing an outer block takes precedence over any focusing of contained blocks, is correct.

Under your suggested interpretation, what is the difference then between these:

[code]

[code]

does this not create two ways to specify the same behaviour?

What should thi

[2016-01-14 09:03] wsb9 commented on #189
Adding yet another interesting example: failing test cases get disappeared from Navigator. When I noticed, decided to make small test and inserted `XCTFail()` call into passing test case. After run, changed case gone away with suite failed and no cue what went wrong.

Xcode 7.2 (7C68), Specta 1.0.5.

[2016-01-18 14:29] Ad1991 commented on #167
@jmenezes `@import` statements would not work if you set that flag to NO. Not something I would like to do.

[2016-01-23 04:19] poetmountain opened #200 "Specta fails to build when targeting tvOS"
I'm getting this error when trying to run a test with a tvOS app.

`target 'Specta' has bitcode disabled (ENABLE_BITCODE = NO), but it is required for the 'appletvos' platform`

I noticed that Bitcode was disabled in 1.0.5 at the same time that tvOS support was introduced, which I thought was odd since tvOS requires Bitcode to be turned on. (FYI I'm using Cocoapods 1.0.0beta.2. I'm also getting th

[2016-02-11 14:57] blackivory86 commented on #166
+1

'Someone' on my team did that as well.
Guessed right - it was me. Again, and again, and ...

[2016-02-11 15:02] webventil commented on #166
+1

[2016-02-11 15:02] johannes82 commented on #166
+1

[2016-02-11 15:03] orta commented on #166
A PR is far more useful than a +1, please don't do them.

[2016-02-11 15:07] idellwig commented on #166
+1

[2016-02-11 15:07] orta commented on #166
Seriously?

[2016-02-11 15:32] #166 closed

[2016-03-16 08:36] valnoc commented on #189
i also get failed tests disappeared from navigator
Any info on "how to fix"?

[2016-03-16 17:37] lolgear opened #204 "Add watchos support"
Any plans about it?

[2016-03-16 18:24] orta commented on #204
No plans for it, it's been a pretty niche platform. Would definitely merge a PR adding it to the Podspec after you've tested it.

[2016-03-16 18:36] lolgear commented on #204
Assign this issue to me, please, I am going to merge PR as soon as possible

[2016-03-16 20:10] orta commented on #204
:+1:  can't assign people not in the org, but consider it yours

[2016-03-23 10:14] oronbz commented on #162
+1, currently there is no way to run single file (even with fdescribe and fit), and when you have lots of tests it's pretty annoying running them all every time.

[2016-03-24 14:13] kkotar commented on #189
Xcode Version 7.3 (7D175) same problems :(

[2016-03-25 09:14] aspcartman opened #205 "Hierarchical test results"
The Kiwi output:
<img width="330" alt="screen shot 2016-03-25 at 12 11 03 pm" src="https://cloud.githubusercontent.com/assets/844194/14041530/40f5107c-f28b-11e5-9ee9-3581914f0aa4.png">

The Specta output:
<img width="344" alt="screen shot 2016-03-25 at 12 11 12 pm" src="https://cloud.githubusercontent.com/assets/844194/14041535/488d06b4-f28b-11e5-9555-a4a7abd35410.png">

Reading the #99 didn't hel

[2016-03-25 09:55] jmoody opened #206 "Cannot build with `rake` on 7.2 <= Xcode < 7.3 on Yosemite and El Cap"
This a bit of moot point since most users have migrated to El Cap and Xcode 7.3, but I wanted to bring it up anyway because some of us have to live in Yosemite for a while longer which means living with Xcode 7.2*.

I don't expect a fix.  I want to make a note of the defect so that others can quickly find a workaround.

I think the only action items here:
- Update Travis to run Xcode 7.3 with `osx

[2016-04-12 13:50] stephen-francis commented on #189
My team has experienced the tests "disappearing" as well, and it makes evaluating results very difficult. Has there been any movement here?

[2016-04-12 13:51] orta commented on #189
The same thing happens in Quick, no-one has figured it out I'm afraid. You're welcome t try dig, but I think you'll need to be looking in Xcode.

[2016-04-12 13:56] stephen-francis commented on #189
Thanks for the quick response @orta, I appreciate it. Has a bug report been filed on this from the Xcode perspective?

[2016-04-12 14:01] orta commented on #189
I haven't raised one, happy to have others do it :+1:

[2016-04-18 16:41] aterribili commented on #181
+1

[2016-04-20 22:23] metromile-ios-team commented on #181
@chrisfarrell Any updates on the radar?

[2016-04-26 15:19] stephen-francis commented on #189
@orta: I filed a radar on this: Bug ID 25679988: Test cases disappear from the Test Navigator, on 12 April. Apple responded with: "It seems this issue only manifests when using the Specta framework. Can the developers of Specta resolve this issue?"

In response, on 20 April, I informed them that this issue also manifests itself in Quick, and that we have reason to believe it's an Xcode issue. I ha

[2016-04-26 16:14] modocache commented on #189
The issue would manifest with any consumer of `+[XCTestCase testInvocations]`, in which a different set of tests was generated between two test runs.

It would be great to create a sample project that demonstrates this. We could then get encourage commenters on this, https://github.com/Quick/Quick/issues/219, and https://github.com/Quick/Quick/issues/427 to "dupe" a master Radar.

No promises, but

[2016-04-27 16:11] stephen-francis commented on #189
Thanks for checking in, @modocache, that'd be great.

Do you or @orta happen to know if there's a workaround here? For instance, if we were to run these tests from the command line instead of the Xcode interface, could we avoid this issue?

[2016-04-27 16:28] modocache commented on #189
Oh, hmm, good question... I would assume that running the tests via the command line would not affect the test navigator, so yes, that does seem like a reasonable workaround.

[2016-04-30 20:00] modocache commented on #189
If you use Specta or Quick and are disappointed with tests disappearing in Xcode's Test Navigator, tests lingering in the Test Navigator despite no longer being defined, or even tests not being run, please read and duplicate this radar: https://openradar.appspot.com/26028557.

Xcode does not provide the Specta or Quick maintainers with an API to address these problems. The best way to contribute t

[2016-04-30 20:17] orta commented on #189
Duped 👍

[2016-04-30 20:30] modocache commented on #189
Thanks! Every little bit counts. 💯

[2016-04-30 21:18] StatusReport commented on #189
Great work! Duped as well.

[2016-05-11 09:49] ooopscc commented on #171
Hello,
What if I want to repeat a logic code several times, instead of write it many times, how can I create a block or function to still use `expect()`?
I notice it always failed if I create a block put in anywhere between `SpecBegin` and `SpecEnd`, and it will run test twice, that's wired.
for example
[code]

[2016-05-22 12:06] orta commented on #205
AppCode has special support for Kiwi, but not for Specta alas.

[2016-05-22 12:06] #205 closed

[2016-05-22 12:06] orta commented on #204
Gonna call this one for now, you're welcome to re-open via a PR.

[2016-05-22 12:06] #204 closed

[2016-05-22 12:08] orta commented on #13
This is 4 years old now, I'm going to close it, it's either probably been fixed, or not a priority for everyone 👍

[2016-05-22 12:08] #13 closed

[2016-05-22 12:09] orta commented on #76
In our codebase we ended up removing `activelyWaitFor` to try and keep the test suite simpler, going to say you can use this if you'd like, but probably won't integrate into Specta.

[2016-05-22 12:09] #76 closed

[2016-05-22 12:10] orta commented on #89
We've lived without it for this long, I'm OK with it not happening now.

[2016-05-22 12:10] #89 closed

[2016-05-22 12:10] orta commented on #130
OK, think this is also fine to be closed, I think encouraging Quick/Nimble as a great option for Swift support is probably the best call.

[2016-05-22 12:10] #130 closed

[2016-05-22 12:11] orta commented on #132
Looking through the [builds on travis](https://travis-ci.org/specta/specta/builds) I don't see any flakiness anymore.

[2016-05-22 12:11] #132 closed

[2016-05-22 12:13] orta commented on #140
OK, I'm calling this one as not needed, there's at least [4,000 test targets](http://cocoapods.org/pods/Specta) using Specta now 👯

[2016-05-22 12:13] #140 closed

[2016-05-22 12:15] orta commented on #200
Sounds like it's worth making a PR to the podspec to make sure that tvOS support does not have bit code disabled, would you like to do that?

[2016-05-22 23:47] poetmountain commented on #200
I'm a bit swamped at the moment, but can look into it more in a few weeks.

[2016-05-29 21:30] restjohn commented on #188
Is there a pattern for using `waitUntil` that repeatedly checks whether a condition has been satisfied as `waitForExpectionsWithTimeout:handler:` does?  For a while I had assumed that was the way `waitUntil` worked, but I had async tests failing and finally looked at the code behind `waitUntil` and realized it was only calling the passed block once.  Then I switched to the [XCTestCase waitForExpec

[2016-05-29 21:33] orta commented on #188
That's handled by matcher libraries normally, https://github.com/specta/expecta#asynchronous-testing

[2016-05-31 17:10] restjohn commented on #188
Ah, thanks very much.  I don't know how I missed that all this time.

[2016-06-12 20:34] dtaitz opened #210 "WaitUntil and WaitUntilTimeOut leads to EXC_BAD_ACCESSS"
Hello,

I am using Specta (1.0.5) and Expecta (1.0.5). I use the BFTask library for asynchronous operations.

Most of the times I run my test suite, I end up getting EXC_BAD_ACCESS from running the below code:

       waitUntilTimeout(3.0, ^(DoneCallback done) {

                [[sut refreshUser:mockCurrentUser userDefaults:mockDefaults permissionsManager:mockPermissionsManger] continueWithExecut

[2016-06-15 08:41] StatusReport commented on #189
I went to the Xcode lab in the WWDC today and found the guy who's responsible for fixing this. I showed him the radar and he was aware of it, but besides raising the awareness for the amount of people that are affected by this bug, I couldn't do much. Let's hope this will get fixed in Xcode 8 GM.

[2016-06-15 15:33] modocache commented on #189
@StatusReport That's awesome, thanks!! 💓  Raising awareness is very valuable -- if more people file radars or mention this to Apple engineers, the problem is more likely to be addressed.

[2016-06-19 11:30] orta commented on #210
I'm afraid I don't really know too much about how `BFTask` works, and from the looks of it, neither does any of the other contributors. It might be more prudent to ask if there's anything that BFTask does that might have issues around running inside a separate runloop.

[2016-06-19 11:30] #210 closed

[2016-08-17 12:28] mbrooks opened #212 "It would be nice if specta had an option to reset the app after each test file completes"
One of things I've noticed about testing with iOS is that the app is loaded only once and the same instance is used for each test. Maybe I am just doing things wrong, but it's very easy to get test leakage from one test to another if you forget to tear down your tests correctly.

For example, if you add an observer to test for a notification and forget to tear it down, and another test tests somet

[2016-08-17 12:51] orta commented on #212
Not really, Xcode opens the application and then tells the test runner that it should start and eventually to close.

The other side of this, is that loading your app up from scratch takes ~2-3 seconds, I don't think anyone wants to wait that long between each test. _maybe_ between each test suite, but still, it's outside of Specta/Kiwis scope - you'd need to replace the test runner, or have an Xc

[2016-08-17 12:51] #212 closed

[2016-10-31 15:21] blackivory86 opened #214 "Repeating Unit-Tests"
Sometimes you have unit-tests failing 'randomly' due to dependencies between tests. SPECTA_SHUFFLE as an environment variable is a nice feature to detect issues like these but it would be a nice additional feature to have a second env-variable to set a repeat count similar to encapsulating your context() or fit() in a for-loop.

[2016-12-29 22:26] #198 closed

[2017-01-22 02:05] dbgrandi opened #215 "Should 'fit' and 'fdescribe' have other tests show up as pending/failing?"
I recently found an `fdescribe` checked into a project. Our continuous integration showed all the tests as passing, so it looked like everything was in good order.

I'm wondering if it would make sense to, when an `fdescribe` or `fit` are in the suite, mark other tests as either failing or pending to make it more obvious that only a subset of the tests were run.

(Yes, I'll be adding a [Danger](ht

[2017-07-20 10:53] Denages opened #220 "Tests are skipped nondeterministically"
Some test are skipped in a random way. It happens what the editing and undoing operations affects to this behavior even if in the result the code still be the same.

Gif:
![spectabug](https://user-images.githubusercontent.com/6689478/28414070-2630d52c-6d74-11e7-87d6-183d6d842a79.gif)

Here is the code:

[code]

[2017-10-20 09:01] leizh007 opened #222 "signal SIGABRT at waiUntilTimeOut function"
![machi 2017-10-20 17-00-16](https://user-images.githubusercontent.com/7850978/31813243-494dfc5a-b54b-11e7-8e99-af76c6716d16.png)
It's okay on Xcode 8.3.3, but in Xcode 9, tests failed shows in the picture.

[2018-02-05 08:44] huangzhigangxg opened #223 "No visible @interface for 'XCTestSuite' declares the selector 'run'"
No visible @interface for 'XCTestSuite' declares the selector 'run'

[2018-02-05 13:13] orta commented on #223
Want to try fix this via a PR? Or provide an example repo? This report doesn't really tell us much.

[2018-03-22 12:16] RootsarWinner commented on #223
.

[2018-04-09 04:53] #206 closed

[2018-04-09 05:06] jmoody opened #225 "Bad access in SPTSharedExampleGroups"
### Reproduce

* Xcode 9.2, 9.3, 9.4 beta
* macOS Sierra, High Sierra

1. Pull [calabash-ios-server](https://github.com/calabash/calabash-ios-server) develop/ branch
2. Update code sign settings for the XCTest target to match your signing environment
3. Run an individual XCTest via the Xcode UI until the crash happens (takes 2 - 3 tries)

### Expected

Tests to complete.

### Found

Bad access in

[2018-04-09 06:48] jmoody commented on #223
I am not the original reporter.

I encountered this error while trying to make a pull request to fix another bug.

### Reproduce

* Xcode 9.3
* macOS High Sierra

[code]

### Expected

Tests to run.

### Found

[code]

### Analysis

The `XCTestSuite` interface has changed and no longer includes a `run` method.

Looking at the XCTestSuite private header, I don't see an obvious replacement.

This wo

[2019-06-27 07:45] DoctorDYL commented on #223
You can fix this problem in Xcode 10.x with the code below.
[code]

[2019-07-25 07:14] #173 closed

[2021-08-24 04:06] jaysonmald35 commented on #223
iiccoinsss

[2021-08-24 04:07] jaysonmald35 opened #227 "iiccoinsss"

[2021-11-11 01:47] Jaysonmaldx commented on #227
Crypto

[2022-05-29 00:12] maxbomb112233 opened #231 "Expecta/EXPDefines.h"

[2022-05-29 08:54] #231 closed, assigned to nobody